{
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "insertPragma": false,
  "printWidth": 160
}
